<div class="sidebar-box mb-4">
	<form action="#" class="search-form bg-white rounded-pill shadow-sm overflow-hidden">
		<div class="form-group position-relative mb-0">
			<span class="icon ri-search-line position-absolute top-50 start-0 translate-middle-y ms-3 text-muted"></span>
			<input type="text" class="form-control border-0 ps-5 py-3" placeholder="Bir şeyler arayın...">
		</div>
	</form>
</div>
