<div class="about-author d-flex p-4 bg-white rounded-4 shadow-sm align-items-center">
	<div class="bio mr-5">
		<img src="@Model.AuthorImageUrl"
			 alt="@Model.AuthorName"
			 class="mb-4 rounded-circle shadow-sm"
			 style="width: 100px; height: 100px; object-fit: cover; min-width: 100px;">
	</div>
	<div class="desc ms-4">
		<h3 class="fw-bold">@Model.AuthorName</h3>
		<p>@Model.AuthorDescription</p>
	</div>
</div>
